/*	------------------------------------------------------------------
	body/global/reset Styles
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
	body {
		margin:0;
		padding:0 0 0 0;
		line-height: 1;
		background: #222;
		background-image: url(../imgs/bg-texture.png);
		color: #FFF;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	/* tables still need 'cellspacing="0"' in the markup */
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	.altText {
		width:0; height:0;
		display:block;
		overflow:hidden;
	}
	.cleaner {
		clear:both;
		height:0px;
		font-size:1px;
		overflow:hidden;
		border:none;
		margin:0; padding:0;
		background:transparent;
	}
	.clearfix:after {
		content: ".";
		display: block;
		clear:both;
		visibility:hidden;
		line-height:0;
		height:0;
	}
	.clearfix {
		display:inline-block;
	}
	html[xmlns] .clearfix {
		display:block;
	}
	* html .clearfix {
		height:1%;
	}
	a:link, a:visited {
		color:#ccc;
		text-decoration: none;
	}
	a:hover {
		color: #a3030f;
	}

	.content {
		width:100%;
		font-family: 'Lato', Arial, sans-serif;
		font-weight: 400;
	}

	.main {
		width: 100%;
		background-color: #000;
	}

	/*
	Night Verses
	*/

	.nv-splash {
		width: 100%;
	}

	.nv-splash .nv-promo {
		width: 100%;
		height: 144px;
		padding: 286px 0 0 0;
		background-image: url("../imgs/img-nightverses.jpg");
		background-repeat: no-repeat;
		background-color: #ccc;
		-webkit-background-size: 960px;
		-moz-background-size: 960px;
		-o-background-size: 960px;
		background-size: 960px;
		background-position: center top;
		text-align: center;
	}

	.nv-bio {
		height: 100%;
		margin: 0 auto;
		padding: 10px 0 0 0;
		max-width: 900px;
		font-size: 24px;
		line-height: 2em;
		letter-spacing: 1px;
	}

	.nv-bio .social-links {
		padding: 0;
		text-align: center;
	}

	/*
	Nav
	*/

	.nav {
		margin: 0 auto;
		padding: 20px 0 20px 0;
		max-width: 960px;
		position: relative;
	}

	.nav .logo {
		display: inline-block;
	}

	.nav .top-nav {
		display: inline-block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	.nav .top-nav li {
		margin-left: 1.5em;
		display: inline-block;
		font-size: 30px;
		font-weight: 700;
		letter-spacing: .15em;
	}






